.hero-section{
    height: auto;
    width: 100%;
    padding: 3.5% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-section .hero-left .hero-contents .paragraph{
    padding-top: 25px;
    padding-bottom: 40px;
}