.about-section{
    height: auto;
    width: 100%;
    padding: 5% 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.about-section .about-right p{
    padding-top: 20px;
}
.about-section .about-left{
    display: grid;
    grid-template-columns: 2fr;
}