.about-section{
    height: auto;
    width: 100%;
    padding: 5% 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.about-section .about-right,
.about-section .about-left{
    padding-top: 30px;
    padding-bottom: 30px;
}
.about-section .about-right{
    width: 35%;
}
.about-section .about-left{
    width: 65%;
}
.about-section .about-right p{
    padding-top: 20px;
}
.about-section .about-left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.about-section .about-left .card{
    width: 50%;
}