.navigation{
    height: 70px;
    width: 100%;
    padding: 3.2% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(29, 81, 254, .1);
    backdrop-filter: blur(20px);
    position: fixed;
    z-index: 10;
}
.navigation .nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.navigation .nav-logo img{
    width: 50px;
    cursor: pointer;
}
.navigation .nav-logo span{
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
    text-transform: lowercase;
    color: var(--primary-color);
    font-weight: 800;
    cursor: pointer;
}
.navigation .nav-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.navigation .nav-elements .nav-links{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.navigation .nav-elements .nav-links::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--white);
    display: block;
    transition: 0.3s;
}
.navigation .nav-elements .nav-links:hover::after{
    width: 100%;
    transition: 0.3s;
}
.navigation .nav-elements .nav-active{
    color: var(--primary-color);
}
.navigation .nav-elements .nav-active::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    display: block;
    transition: 0.3s;
}
.navigation .nav-elements .nav-active:hover::after{
    width: 100%;
    transition: 0.3s;
}

@media only screen and (max-width: 800px) {
    .navigation{
        justify-content: center;
    }
    .navigation .nav-elements{
        display: none;
    }
}