.footer-section{
    height: auto;
    width: 100%;
    padding: 5% 6%;
    position: relative;
}
.footer-section .footer-top{
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
}
.footer-section .footer-top .ftop-left .tag {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.footer-section .footer-top .ftop-left .tag p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--primary-color);
    font-weight: 500;
}
.footer-section .footer-top .ftop-left h1{
    font-size: 3.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--white-light);
}
.footer-section .footer-top .ftop-left h1 span{
    font-weight: 800;
    color: var(--white);
}
.footer-section .footer-top .ftop-right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;
}
.footer-section .footer-top .ftop-right img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.footer-section .footer-top .ftop-right h1{
    margin-bottom: 5px;
}

@media only screen and (max-width: 900px) {
    .footer-section .footer-top{
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer-section .footer-top .ftop-right{
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.line{
    border: 1px solid rgb(255, 255, 255, .3);
    margin: 30px 0px;
}

.footer-section .footer-bottom{
    height: auto;
    width: 100%;
    padding: 30px;
    background-color: var(--primary-color);
    display: flex;
    gap: 35px;
}
.about, .link, .input{
    width: 25%;
}
.footer-section .footer-bottom img{
    width: 35px;
    height: 35px;
}
.footer-section .footer-bottom .about p{
    padding-top: 25px;
}
.footer-section .footer-bottom .about strong{
    color: var(--white);
}
.footer-section .footer-bottom .about .icons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.footer-section .footer-bottom .link ul{
    list-style-type: none;
    margin-top: 25px;
}
.footer-section .footer-bottom .link ul li{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section .footer-bottom .link ul li a{
    color: var(--white-light);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.footer-section .footer-bottom .input form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.footer-section .footer-bottom .input form input{
    height: 35px;
    opacity: 0.2;
    background: var(--white);
    border: none;
}
.footer-section .footer-bottom .input form input::placeholder{
    padding-left: 15px;
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-section .footer-bottom .input form .btn{
    height: 35px;
    width: 75px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-section .footer-bottom .input form .btn a{
    color: var(--white-light);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.copyrights{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.copyrights a{
    color: var(--white);
}

@media only screen and (max-width: 900px) {
    .about, .link, .input{
        width: 50%;
    }
    .footer-section .footer-bottom{
        flex-wrap: wrap;
    }
}