.experience-section{
    height: auto;
    width: 100%;
    padding: 5% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
}
.experience-section .experience-video{
    width: 100%;
    height: auto;
    position: relative;
}
.experience-section .experience-video .img-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.experience-section .experience-video .img-overlay h1{
    text-transform: uppercase;
    font-size: 3.3rem;
}
.experience-section .experience-video .img-overlay h1 span{
    color: var(--black);
}
.experience-section .experience-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    margin-top: 80px;
}
.experience-section .experience-contents .experience-left{
    width: 40%;
}
.experience-section .experience-contents .experience-left img,
.experience-section .experience-contents .experience-right img{
    width: 100%;
    height: auto;
}
.experience-section .experience-contents .experience-right{
    width: 60%;
}
.experience-section .experience-contents .experience-left .left-texts h1{
    padding-top: 40px;
    padding-bottom: 20px;
}
.experience-section .experience-contents .experience-right p{
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 18px;
}