@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

:root{
    --primary-color: #1D51FE;
    --white: #fff;
    --white-light: rgba(255, 255, 255, 0.85);
    --black: #0a0a0a;
}

body{
    background-color: var(--black);
    color: var(--white-light);
    /* font-family: "Orbitron", sans-serif; */
    /* font-family: 'Inter', sans-serif; */
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

.heading{
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 800;
    text-transform: capitalize;
}

.paragraph{
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    color: var(--white-light);
    font-weight: 400;
}

.heading-small{
    font-family: "Orbitron", sans-serif;
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 600;
    text-transform: capitalize;
}

.paragraph-small{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: var(--white-light);
    font-weight: 400;
}

.heading-very-small{
    font-family: "Orbitron", sans-serif;
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 600;
    text-transform: capitalize;
}

.paragraph-very-small{
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: #878787;
    font-weight: 400;
}

@media only screen and (max-width: 470px) {
    .heading{
        font-size: 32px;
    }
    .paragraph{
        font-size: 14px;
    }
}